.mobile_wrap {
  display: flex;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100vw;
  height: 0;
  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out,
    height 500ms ease-in-out;
  z-index: -1;

  @media (min-width: 768px) {
    top: 85px;
  }
}

.mobile_menu_open {
  height: 100vh;
  transform: scaleY(1);
  opacity: 1;
  z-index: 1000;
}

.burger_menu {
  width: var(--container);
  height: 428px;
  background-color: var(--foreground);
  border-radius: 0 0 32px 32px;
  border-top: 1px solid #d9dbff;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: column;

  @media (min-width: 768px) {
    margin: 0 auto;
  }
}

.social {
  display: flex;
  gap: 24px;
  align-items: center;
  height: 32px;

  & li {
    height: 32px;

    & a {
      height: 32px;

      & svg {
        fill: #858d9f;
        transition: fill 0.3s ease;
        width: 32px;
        height: 32px;
      }

      & svg:hover {
        fill: var(--main_text_color);
      }
    }
  }
}

.button_wrap {
  & a {
    min-width: auto;
  }
}

.nav {
  & li {
    margin-bottom: 11px;

    & a {
      font-family: var(--font_mons);
      font-size: var(--fs_xsmall);
      font-weight: 500;
      line-height: 19.5px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
