.instruments {
  width: var(--container);
  margin: 0 auto;
  padding-bottom: 80px;

  @media (min-width: 1408px) {
    padding-bottom: 120px;
    max-width: var(--desktop);
  }
}

.header {
  line-height: 1.1;
  text-align: right;
  font-family: var(--font_wix);
  font-size: var(--fs_xlarge);
  font-weight: 700;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    font-size: var(--fs_mxlarge);
    margin-bottom: 60px;
  }

  @media (min-width: 1024px) {
    font-size: var(--fs_xxlarge);
    margin-bottom: 80px;
  }

  @media (min-width: 1408px) {
    font-size: var(--fs_xxxlarge);
  }
}

.list {
  & li {
    margin-bottom: 16px;
    transition: filter 0.3s ease;

    &:hover {
      filter: drop-shadow(0px 20px 40px #65709f26);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(2) {
      & img {
        width: 72px;
        height: 72px;
      }
    }
  }
  & p {
    font-size: var(--fs_small);
    line-height: 21px;

    & span {
      font-weight: 700;
    }
  }

  @media (min-width: 768px) {
    & li {
      display: flex;
      gap: 16px;

      &:nth-child(2) {
        & img {
          width: 80px;
          height: 80px;
        }
      }

      &:nth-child(5) {
        & img {
          width: 80px;
          height: 80px;
        }
      }

      &:nth-child(6) {
        & img {
          width: 72px;
          height: 72px;
        }
      }
    }

    & p {
      font-size: var(--fs_xsmall);
      line-height: 24px;
    }
  }

  @media (min-width: 1024px) {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 40px;
    & li {
      max-width: calc(50% - 20px);
      margin-bottom: 0px;
    }
  }
}

.text_wrap {
  padding: 32px;
  border-radius: 32px;
  background-color: var(--foreground);
  width: 100%;
}

.img_wrap {
  flex-shrink: 0;
  margin: 0 auto;
  margin-bottom: 8px;
  border-radius: 50%;
  background-color: var(--foreground);
  width: 112px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: 56px;
    height: 56px;
    transition: transform 0.3s ease, filter 0.3s ease;

    &:hover {
      filter: drop-shadow(0px 2px 5px #1c16631a)
        drop-shadow(0px 9px 20px #1c16631f) drop-shadow(0px 16px 20px #1c16630d)
        drop-shadow(0px 37px 15px #1c166303)
        drop-shadow(0px 57px 16px #1c166300);
      transform: scale(1.05);
    }
  }
  @media (min-width: 768px) {
    width: 122px;
    height: 122px;

    & img {
      width: 64px;
      height: 64px;
    }
  }
}
