.advantages {
  width: var(--container);
  margin: 0 auto;
  padding-bottom: 80px;

  @media (min-width: 1408px) {
    padding-bottom: 120px;
    max-width: var(--desktop);
  }
}

.header {
  font-family: var(--font_wix);
  font-size: var(--fs_xlarge);
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 40.32px;
  text-align: right;

  @media (min-width: 768px) {
    font-size: var(--fs_mxlarge);
    margin-bottom: 60px;
    line-height: 1.25;
    text-align: center;
  }

  @media (min-width: 1024px) {
    font-size: var(--fs_xxlarge);
    margin-bottom: 80px;
  }

  @media (min-width: 1408px) {
    font-size: var(--fs_xxxlarge);
  }
}

.list {
  & li {
    border-radius: 40px;
    background-color: var(--foreground);
    margin-bottom: 16px;
    padding: 24px;
    transition: filter 0.3s ease;

    &:hover {
      filter: drop-shadow(0px 20px 40px #65709f26);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(2) .icon_wrap {
      background-color: #d9dbff99;
    }

    &:nth-child(3) .icon_wrap {
      background-color: #ffe3b999;
    }

    &:nth-child(4) .icon_wrap {
      background-color: #f6cce799;
    }

    &:nth-child(5) .icon_wrap {
      background-color: #ffe0de99;
    }

    &:nth-child(6) .icon_wrap {
      background-color: #e9ebff99;
    }

    & h3 {
      font-size: 22px;
      font-weight: 600;
      line-height: 29.26px;
      margin-bottom: 16px;
    }

    @media (min-width: 350px) {
      & h3 {
        font-size: var(--fs_large);
      }
    }

    & p {
      font-size: var(--fs_small);
      line-height: 21px;
    }
  }

  @media (min-width: 768px) {
    display: flex;
    gap: 24px 16px;
    flex-wrap: wrap;

    & li {
      max-width: calc(50% - 8px);
      margin-bottom: 0;

      & h3 {
        font-size: 25px;
        line-height: 1.2;
      }

      & p {
        font-size: var(--fs_xsmall);
        line-height: 24px;
      }
    }
  }

  @media (min-width: 1024px) {
    & h3 {
      font-size: var(--fs_xlarge);
    }
  }

  @media (min-width: 1408px) {
    & li {
      padding: 32px;
      max-width: calc(33.3% - 12px);
    }
  }
}

.icon_wrap {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: #d8f2f299;
  margin-bottom: 16px;

  & img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease, filter 0.3s ease;

    &:hover {
      filter: drop-shadow(0px 2px 5px #1c16631a)
        drop-shadow(0px 9px 20px #1c16631f) drop-shadow(0px 16px 20px #1c16630d)
        drop-shadow(0px 37px 15px #1c166303)
        drop-shadow(0px 57px 16px #1c166300);
      transform: scale(1.05);
    }
  }

  @media (min-width: 768px) {
    & img {
      width: 40px;
      height: 40px;
    }
  }
}
