@import '/node_modules/modern-normalize/modern-normalize.css';
@import './variables.css';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

main {
  overflow: hidden;
}

body {
  background-color: var(--background);
  margin: 0;
  font-family: var(--font_mons);
  font-size: var(--fs_xsmall);
  font-weight: 500;
  color: var(--main_text_color);
  line-height: 24px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--main_text_color);
}

button {
  padding: 0;
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--main_text_color);
}

img {
  display: block;
  height: auto;
}
