.language {
  position: relative;
  @media (max-width: 767px) {
    margin-right: 55px;
  }
  display: block;
}

.icon {
  position: relative;
  z-index: 1;
  cursor: pointer;
  padding: 8px;
  display: flex;
  gap: 8px;
  border-radius: 16px;
  transition: background-color 0.5s ease;

  &:hover,
  &:focus {
    background-color: #f7f7f74d;
  }

  @media (max-width: 1023px) {
    padding: 6px;
    gap: 4px;

    & svg {
      width: 20px;
      height: 20px;
    }
  }
}

.iconActive {
  background-color: #f7f7f74d;

  & svg:last-child {
    transform: rotate(-90deg);
    transition: transform 0.3s ease;
  }
}

.buttonsContainer {
  position: absolute;
  top: 44px;
  left: 0;
  display: flex;
  gap: 4px;
  flex-direction: column;
  transition: all 0.3s ease;
  opacity: 0;
  transform: translateY(-20px);
  background: #eef1ff33;
  border-radius: 16px;
  pointer-events: none;

  @media (max-width: 1023px) {
    top: 36px;
  }
}

.containerActive {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

.button {
  font-size: var(--fs_small);
  line-height: 19.5px;
  padding: 6px 25px;
  border-radius: 16px;
  color: #f7f7f7;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover,
  &:focus {
    text-shadow: 0px 0 currentColor, 0px 0 currentColor;
  }

  @media (max-width: 1023px) {
    padding: 4px 14px;
  }
}

.buttonActive {
  font-weight: 600;
  color: #0d0d0d;
  background-color: #f7f7f7cc;
}
