.start {
  width: var(--container);
  margin: 0 auto;
  padding-bottom: 80px;

  @media (min-width: 1408px) {
    padding-bottom: 120px;
    max-width: var(--desktop);
  }
}

.header {
  line-height: 35.2px;
  font-family: var(--font_wix);
  font-size: var(--fs_xlarge);
  line-height: 35.2px;
  text-align: right;
  margin-bottom: 40px;

  & span {
    color: var(--main_color);
  }

  @media (min-width: 768px) {
    font-size: var(--fs_mxlarge);
    margin-bottom: 60px;
    line-height: 1.1;
  }

  @media (min-width: 1024px) {
    font-size: var(--fs_xxlarge);
    margin-bottom: 80px;
  }

  @media (min-width: 1408px) {
    font-size: var(--fs_xxxlarge);
    max-width: 1120px;
    margin-left: auto;
  }
}

.list_wrap {
  border-radius: 32px;
  background-color: var(--second_color);
  padding: 24px 24px 168px;
  position: relative;
  color: var(--background);
  margin-bottom: 16px;

  & > p {
    font-weight: 600;

    & span {
      font-weight: 800;
    }
  }

  & img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 168px;
    height: 168px;
  }

  @media (min-width: 768px) {
    & > p {
      font-size: var(--fs_medium);
      max-width: 396px;
      line-height: 27px;
    }

    & img {
      width: 220px;
      height: 220px;
    }
  }

  @media (min-width: 1024px) {
    padding: 40px 40px 70px;
    width: calc(50% - 8px);
    border-radius: 40px;
    margin-bottom: 0;
  }
}

.list_header {
  font-size: var(--fs_large);
  font-weight: 600;
  line-height: 28.8px;
  margin-bottom: 24px;

  @media (min-width: 768px) {
    font-size: var(--fs_xlarge);
    line-height: 1.2;
    margin-bottom: 32px;
  }

  @media (min-width: 1024px) {
    margin-bottom: 40px;
  }

  @media (min-width: 1408px) {
  }
}

.list {
  padding-left: 24px;
  margin-bottom: 24px;
  & li {
    margin-bottom: 16px;
    display: flex;
    gap: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    & p {
      font-size: var(--fs_small);
      line-height: 21px;
    }
  }

  @media (min-width: 768px) {
    padding-left: 0;
    margin-bottom: 180px;
    & li {
      & p {
        font-size: var(--fs_xsmall);
        line-height: 24px;
      }
    }
  }

  @media (min-width: 1024px) {
    margin-bottom: 200px;
  }

  @media (min-width: 1408px) {
    margin-bottom: 296px;
  }
}

.icon_wrap {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9ebff33;

  @media (min-width: 768px) {
    width: 32px;
    height: 32px;

    & svg {
      width: 16px;
      height: 16px;
    }
  }
}

.stat_wrap {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;

  & div {
    flex: 1;
    padding: 24px;
    color: var(--background);
    background-color: var(--main_text_color);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-between;

    & span {
      font-size: var(--fs_xlarge);
      font-weight: 700;
      line-height: 32px;
    }

    & p {
      font-size: var(--fs_small);
      font-weight: 600;
      line-height: 21px;
    }
  }

  @media (min-width: 768px) {
    gap: 16px;

    & div {
      padding: 40px;
      border-radius: 40px;
      padding-right: 35px;
      & span {
        font-size: var(--fs_xxxlarge);
        line-height: 108px;
      }

      & p {
        font-size: var(--fs_xsmall);
        line-height: 24px;
      }
    }
  }
}

.info_wrap {
  margin-bottom: 40px;

  & li {
    border-radius: 32px;
    background-color: var(--foreground);
    margin-bottom: 16px;
    padding: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    & img {
      width: 48px;
      height: 48px;
      margin-bottom: 24px;
    }

    & p {
      font-size: var(--fs_small);
      font-weight: 600;
      line-height: 21px;
    }
  }

  @media (min-width: 768px) {
    margin-bottom: 0;
    & li {
      border-radius: 40px;
      padding: 40px;

      &:last-child {
        margin-bottom: 0;
      }

      & img {
        width: 64px;
        height: 64px;
        margin-bottom: 24px;
      }

      & p {
        font-size: var(--fs_medium);
        line-height: 27px;
      }
    }
  }
}

.gift_wrap {
  border-radius: 32px;
  background-color: #e9ebff;
  background-image: url('../../img/start/giftMobBack.webp');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  padding: 24px;

  & img {
    width: 80px;
    height: 80px;
    margin-bottom: 24px;
  }

  & p {
    font-size: var(--fs_large);
    font-weight: 600;
    line-height: 28.8px;
    margin-bottom: 24px;

    & span {
      font-weight: 800;
    }
  }

  @media (min-width: 768px) {
    border-radius: 40px;
    background-color: #e9ebff;
    background-image: url('../../img/start/back.svg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    padding: 40px;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    & img {
      width: 112px;
      height: 112px;
      margin-bottom: 0px;
    }

    & p {
      font-size: var(--fs_xlarge);
      line-height: 1.2;
      margin-bottom: 0;
      max-width: 75%;
    }

    & a {
      width: 252px !important;
      min-width: 252px;
      padding: 0 32px;
    }
  }

  @media (min-width: 1024px) {
    & p {
      max-width: 50%;
    }

    & a {
      margin: 0;
    }
  }

  @media (min-width: 1408px) {
    & p {
      max-width: 780px;
    }
  }
}

.wrap {
  @media (min-width: 1024px) {
    display: flex;
    gap: 16px;
    margin-bottom: 40px;
  }
}

.second_wrap {
  @media (min-width: 1024px) {
    flex: 1;
  }
}
