.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: var(--container);
  background-color: var(--foreground);
  border-radius: 0 0 32px 32px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 500ms ease;

  &.mobile_menu_open {
    border-radius: 0;
    padding-bottom: 24px;
  }
}

.logo_wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo_text {
  font-weight: 600;
  line-height: 19.5px;
}

.burger_wrap {
  width: 56px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: var(--background);
  position: relative;
  cursor: pointer;
}

.line {
  display: block;
  width: 18px;
  height: 2px;
  background-color: var(--second_color);
  border-radius: 1px;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.line:nth-child(1) {
  top: 14px;
}

.line:nth-child(2) {
  top: 19px;
}

.line:nth-child(3) {
  top: 24px;
}

.burger_open .line:nth-child(1) {
  transform: rotate(45deg);
  top: 18px;
}

.burger_open .line:nth-child(2) {
  opacity: 0;
}

.burger_open .line:nth-child(3) {
  transform: rotate(-45deg);
  top: 18px;
}
