.mustHave {
  width: var(--container);
  margin: 0 auto;
  padding-bottom: 80px;

  @media (min-width: 1408px) {
    padding-bottom: 120px;
    max-width: var(--desktop);
  }
}

.header {
  line-height: 1.1;
  font-family: var(--font_wix);
  font-size: var(--fs_xlarge);
  font-weight: 700;
  margin-bottom: 40px;

  & span {
    color: var(--main_color);
  }

  @media (min-width: 768px) {
    font-size: var(--fs_mxlarge);
    max-width: 625px;
    margin-bottom: 60px;
  }

  @media (min-width: 1024px) {
    font-size: var(--fs_xxlarge);
    margin-bottom: 80px;
    max-width: 970px;
  }

  @media (min-width: 1408px) {
    max-width: 1160px;
    font-size: var(--fs_xxxlarge);
  }
}

.list_wrap {
  padding: 24px;
  border-radius: 40px;
  background-color: #d8f2f2;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    flex: 1;
    padding: 32px;
    margin-bottom: 0px;
  }

  @media (min-width: 1024px) {
    padding: 40px;
  }

  @media (min-width: 1408px) {
  }
}

.header_wrap {
  margin-bottom: 24px;
  display: flex;
  gap: 16px;

  @media (min-width: 768px) {
    margin-bottom: 32px;
    align-items: center;
  }

  @media (min-width: 1024px) {
    margin-bottom: 40px;
    gap: 24px;
  }

  @media (min-width: 1408px) {
  }
}

.list_header {
  font-size: 18px;
  font-weight: 700;

  @media (min-width: 350px) {
    font-size: 20px;
  }

  @media (min-width: 1024px) {
    font-size: var(--fs_xlarge);
    line-height: 1.2;
  }
}

.logo_wrap {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #3fa8a833;
  flex-shrink: 0;

  & img {
    width: 32px;
    height: 38px;
  }

  @media (min-width: 768px) {
  }

  @media (min-width: 1024px) {
    width: 96px;
    height: 96px;

    & img {
      width: 41px;
      height: 39px;
    }
  }

  @media (min-width: 1408px) {
  }
}

.list {
  padding-left: 40px;

  & li {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
    & p {
      font-size: var(--fs_small);
      line-height: 21px;
    }
  }

  @media (min-width: 768px) {
    padding-left: 60px;
  }

  @media (min-width: 1024px) {
    padding-left: 80px;
    & li {
      gap: 16px;
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
      }
      & p {
        font-size: var(--fs_xsmall);
        line-height: 24px;
      }
    }
  }

  @media (min-width: 1408px) {
  }
}

.icon_wrap {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #3fa8a833;
  flex-shrink: 0;

  @media (min-width: 1024px) {
    width: 32px;
    height: 32px;

    & svg {
      width: 16px;
      height: 12px;
    }
  }
}

.text {
  margin-bottom: 16px;
  font-size: var(--fs_large);
  font-weight: 600;
  line-height: 1.2;
  color: var(--background);

  &:last-child {
    margin-bottom: 0;
  }

  & span {
    color: #858d9f;
  }

  @media (min-width: 768px) {
  }

  @media (min-width: 1024px) {
    font-size: var(--fs_xlarge);
  }

  @media (min-width: 1408px) {
  }
}

.img_logo {
  width: 168px;
  height: 168px;
  position: absolute;
  right: 0;
  bottom: 0;

  @media (min-width: 768px) {
    width: 200px;
    height: 200px;
  }

  @media (min-width: 1024px) {
    width: 237px;
    height: 237px;
  }

  @media (min-width: 1408px) {
    width: 257px;
    height: 257px;
  }
}

.text_wrap {
  position: relative;
  padding: 24px 24px 184px;
  border-radius: 40px;
  background-color: var(--main_text_color);

  @media (min-width: 768px) {
    flex: 1;
  }

  @media (min-width: 1024px) {
    padding: 40px 40px 424px;
  }

  @media (min-width: 1408px) {
  }
}

.wrap {
  @media (min-width: 768px) {
    display: flex;
    gap: 16px;
  }

  @media (min-width: 1024px) {
  }

  @media (min-width: 1408px) {
  }
}
