.footer {
  width: var(--container);
  margin: 0 auto;

  @media (min-width: 1408px) {
    width: 95%;
    padding: 60px 32px;
    background-color: var(--main_text_color);
    border-radius: 80px;
  }
}

.container {
  width: 100%;
  background-color: var(--main_text_color);
  border-radius: 40px;
  padding: 40px 24px;

  @media (min-width: 1408px) {
    padding: 0;
    max-width: var(--desktop);
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .menu_wrap {
    display: flex;
    gap: 122px;
  }

  .second_wrap {
    display: flex;
    gap: 34px;
  }
}

@media (min-width: 1024px) {
  .wrap {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}

.logo_wrap {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 40px;
  transition: transform 0.3s ease, filter 0.3s ease;

  &:hover {
    filter: drop-shadow(0px 2px 5px #1c16631a)
      drop-shadow(0px 9px 20px #1c16631f) drop-shadow(0px 16px 20px #1c16630d)
      drop-shadow(0px 37px 15px #1c166303) drop-shadow(0px 57px 16px #1c166300);
    transform: scale(1.05);
  }

  & span {
    color: var(--background);
    font-weight: 600;
    line-height: 19.5px;
  }

  @media (min-width: 768px) {
    margin: 0;
    align-self: flex-start;

    & svg {
      width: 68px;
      height: 56px;
    }

    & span {
      font-size: var(--fs_large);
      line-height: 29.26px;
    }
  }
}

.menu {
  font-weight: 600;
  line-height: 19.5px;
  color: var(--background);
  margin-bottom: 24px;
}

.nav {
  margin-bottom: 40px;

  & li {
    margin-bottom: 11px;

    & a {
      font-family: var(--font_mons);
      font-size: var(--fs_xsmall);
      font-weight: 400;
      line-height: 19.5px;
      color: var(--background);
    }

    &:last-child {
      margin-bottom: 0;
    }

    transition: transform 0.3s ease, filter 0.3s ease;

    &:hover {
      filter: drop-shadow(0px 2px 5px #1c16631a)
        drop-shadow(0px 9px 20px #1c16631f) drop-shadow(0px 16px 20px #1c16630d)
        drop-shadow(0px 37px 15px #1c166303)
        drop-shadow(0px 57px 16px #1c166300);
      transform: scale(1.05);
    }
  }

  @media (min-width: 768px) {
    margin-bottom: 0;

    & li {
      margin-bottom: 16px;
      height: 19px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.social {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-bottom: 60px;
  height: 32px;

  & li {
    height: 32px;

    & a {
      height: 32px;

      & svg {
        fill: #858d9f;
        transition: fill 0.3s ease;
        width: 32px;
        height: 32px;
      }

      & svg:hover {
        fill: var(--background);
      }
    }
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.lang_wrap {
  margin-bottom: 16px;
}

.policy_wrap {
  padding-top: 16px;
  border-top: 1px solid #858d9f;

  & a {
    font-size: var(--fs_xsmall);
    font-weight: 500;
    line-height: 19.5px;
    color: #858d9f;

    transition: color 0.3s ease;

    &:hover {
      color: var(--background);
    }
  }

  @media (min-width: 768px) {
    padding-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.button_wrap {
  margin-bottom: 40px;

  & a {
    margin: 0;
    max-width: 300px !important;
  }

  @media (min-width: 768px) {
    margin-bottom: 0;
    width: 240px !important;
  }
}

.social_desk {
  display: flex;
  gap: 40px;
  align-items: center;
  height: 32px;

  & li {
    height: 32px;

    & a {
      height: 32px;

      & svg {
        fill: #858d9f;
        transition: fill 0.3s ease;
        width: 32px;
        height: 32px;
      }

      & svg:hover {
        fill: var(--background);
      }
    }
  }

  @media (max-width: 767px) {
    display: none;
  }
}
