.consumables {
  width: var(--container);
  margin: 0 auto;
  padding-bottom: 80px;
}

.container {
  border-radius: 50px;
  background-color: var(--foreground);
  padding: 88px 0 40px;
  position: relative;
}

.header {
  font-family: var(--font_wix);
  font-size: var(--fs_xlarge);
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 35.2px;
  padding: 0 24px;
}

.img {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 64px;
  height: 64px;
  filter: drop-shadow(-8px 8px 30px #ffe3b9) drop-shadow(0px 0px 50px #ffe3b9cc);
}

.list {
  position: relative;
  width: 100%;
  aspect-ratio: 328 / 167;
  margin-bottom: 32px;

  & li {
    position: absolute;
    display: flex;
    gap: 8px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-color: #e9ebff;

    &[id='track'] {
      top: 12px;
      left: 19px;
      transform: rotate(-15deg);
    }

    &[id='acc'] {
      top: 13px;
      right: 19px;
      transform: rotate(15deg);
    }

    &[id='browser'] {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -63%);
    }

    &[id='proxy'] {
      bottom: 22px;
      left: 20px;
      transform: rotate(15deg);
    }

    &[id='spy'] {
      bottom: 18px;
      right: 19px;
      transform: rotate(-15deg);
    }

    & h3 {
      text-wrap: nowrap;
      font-size: var(--fs_small);
      font-weight: 600;
      line-height: 21px;
      color: var(--second_color);
    }

    & svg {
      flex-shrink: 0;
    }
  }
}

.text_wrap {
  margin: 0 34px;
  padding: 24px;
  background-color: var(--background);
  border-radius: 24px;
  margin-bottom: 56px;

  & p {
    font-weight: 600;

    & span {
      font-weight: 800;
    }
  }
}
